@page "/albums"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Albums> Logger
@inject IWebHostEnvironment Environment

<head>

    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <h1>Albums</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam saepe officia dolorum hic. Doloribus
                voluptas, sapiente adipisci voluptatum, commodi accusantium non sint recusandae saepe, minus aut?
                Eligendi aut amet ipsa!
            </p>
        </div>
    </main>
    <footer>

    </footer>
</body>
