@page "/"

<head>

    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Music Player</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="player">
                        <div class="player-controls">
                            <div class="player-controls-left">
                                <div class="player-controls-left-item">
                                    <div class="player-controls-left-item-icon icon-bar">
                                        <a href="">
                                            <i class="material-icons differentColor">skip_next</i>
                                        </a>
                                        <a href="">
                                            <i class="material-icons differentColor">play_circle_filled</i>
                                        </a>
                                        <a href="">
                                            <i class="material-icons differentColor">volume_up</i>
                                        </a>
                                        <a href="">
                                            <i class="material-icons differentColor">volume_off</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="audio-player">
                    <div id="play-btn"></div>
                    <div class="audio-wrapper" id="player-container" href="javascript:;">
                        <audio id="player" ontimeupdate="initProgressBar()">
                            <source
                                src="https://dl-web.dropbox.com/get/Oslo.mp3?_subject_uid=199049471&w=AABuDNt9BDJnaZOelVFws9FXTufkXCvAPS5SYpy_gRZ2GQ&duc_id=dropbox_duc_id"
                                type="audio/mp3">
                        </audio>
                    </div>
                    <div class="player-controls scrubber">
                        <p>Oslo <small>by</small> Holy Esque</p>
                        <span id="seek-obj-container">
                            <progress id="seek-obj" value="0" max="1"></progress>
                        </span>
                        <small style="float: left; position: relative; left: 15px;" id="start-time"></small>
                        <small style="float: right; position: relative; right: 20px;" id="end-time"></small>
                    </div>
                    <div class="album-image"
                        style="background-image: url(https://img.discogs.com/smajEDf4MJk3Le7gG9oi-cke6e4=/fit-in/600x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-7859768-1452996483-9325.jpeg.jpg)">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
