@page "/"

<head>

<PageTitle>Music Player</PageTitle>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Music Player</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="player">
                        <div class="player-controls">
                            <div class="player-controls-left">
                                <div class="player-controls-left-item">
                                    <div class="player-controls-left-item-icon">
                                        <i class="material-icons">skip_previous</i>
                                    </div>
                                </div>
                                <div class="player-controls-left-item">
                                    <div class="player-controls-left-item-icon">
                                        <i class="material-icons">play_arrow</i>
                                    </div>
                                </div>
                                <div class="player-controls-left-item">
                                    <div class="player-controls-left-item-icon">
                                        <i class="material-icons">skip_next</i>
                                    </div>
                                </div>
                            </div>
                            <div class="player-controls-right">
                                <div class="player-controls-right-item">
                                    <div class="player-controls-right-item-icon">
                                        <i class="material-icons">play_circle_filled</i>
                                    </div>
                                </div>
                                <div class="player-controls-right-item">
                                    <div class="player-controls-right-item-icon">
                                        <i class="material-icons">volume_up</i>
                                    </div>
                                </div>
                                <div class="player-controls-right-item">
                                    <div class="player-controls-right-item-icon">
                                        <i class="material-icons">volume_off</i>
                                    </div>
                                </div>
                                <div>
                                    <div class="player-controls-right-item-icon">
                                        <i class="material-icons">volume_mute</i>
                                    </div>
                                </div>
                                <div>
                                    <div class="player-controls-right-item-icon">
                                        <i class="material-icons">volume_down</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>



