body {
    background-color: #35858B;
}

main {
    height: 100vh;
}

.material-icons {
    cursor: pointer;
    height: 2rem;
}

.differentColor {
    color: #fff;
    font-size: 25px;
    padding-top: 3px;
}

.differentColor:hover {
    color: #fff;
}

.icon-bar {
    width: 100%;
    background-color: #072227;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.searchColor {
    background-color: #35858B;
    border-bottom: #35858B;
}

.form-control {
    background-color: #4FBDBA;
    height: 40px;
    margin-bottom: 30px;
}

.form-control:focus {
    background-color: #4FBDBA;
}

.form-control::placeholder {
    color: #AEFEFF;
}

.form-control:active {
    border-color: #4FBDBA;
}

.btn {
    background-color: #072227;
    border: #072227;
    height: 40px;
}

/************************** Audio Player ******************************/

.audio-player {
    border: 1px solid lighten(#acacac, 20%);
    text-align: center;
    display: flex;
    flex-flow: row;
    margin: 4rem 0 4rem 0;
    width: 100%;
}

.album-image {
    min-height: 100px;
    width: 100px;
    background-size: cover;
}

.player-controls {
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    flex: 3;
}

    .player-controls .control {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #072227;
        margin: 0 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .player-controls .control:hover {
        background-color: #000;
    }

p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}


.playAndStopButton {
    background-color: #072227;
    border: #072227;
    color: #fff;
    font-size: 22px;
    padding-top: 14px;
    padding-bottom: 6px;

}

    .playAndStopButton:hover {
        background-color: #000;
    }


/************************************************************************************/

.copyright-text {
    margin: 0;
    font-size: 18px;
    margin-right: 35px;    
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 20px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 20px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

.barNewColors {
    background-color: black;
    color: white;
}
                
.progress-bar {
    background-color: #d3b014;
}

.timeLine {
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
}

.rows{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   

.social-icons {
    text-align: center;
}