h1 {
    color: #fff;
}

th {
    color: #fff;
}

.btn {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #072227;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #35858B;
}

.searchColor {
    background-color: #35858B;
    border-bottom: #35858B;
}

.form-control {
    background-color: #4FBDBA;
}

.form-control:focus {
    background-color: #4FBDBA;
}

.form-control::placeholder {
    color: #AEFEFF;
}

.form-control:active {
    border-color: #4FBDBA;
}

main {
    min-height: 79.5vh;
}

.copyright-text {
    margin: 0;
    font-size: 18px;
    margin-right: 35px;    
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 20px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 20px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.whatsapp:hover {
    background-color: green;
}

.social-icons a.instagram:hover {
    background-color: rgb(192, 74, 28);
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

.barNewColors {
    background-color: black;
    color: white;
}

.progress {
    width: 100%;
}
                
.progress-bar {
    background-color: #d3b014;
}

.timeLine {
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
}

.rows{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   

.social-icons {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}