body {
    background-color: #35858B;
    /* padding-top: 200px; */
}

h1, h2, h3, h4, h5, h6, p, li, th, td, a {
    color: #fff;
}

.row {
    height: 900px;
    position: relative;
}

.uploadClass {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}