@page "/songs"
@using System
@using System.IO
@using System.Collections;
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Songs> Logger
@inject IWebHostEnvironment Environment

<head>
    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <tr>
                        <th class="bar1">
                        </th>
                    </tr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr class="bar2">
                                <th>Song Name</th>
                                <th>Artist</th>
                                <th>Year</th>
                                <th>
                                    <div class="top-row searchColor">
                                        <div class="input-group">
                                            <input type="search" class="form-control rounded"
                                                placeholder="Search your favorite song..." aria-label="Search"
                                                aria-describedby="search-addon" />
                                            <button type="button" class="btn">
                                                <i class="material-icons differentColor">search</i>
                                                @* Cloud Music *@
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <button @onclick="GetSongs">Reload List</button>
                            @foreach (var song in @SongList)
                            {
                                <tr>
                                    <th>@song.Name</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

@code {
    private static List<Song> SongList = new();
    public void GetSongs()
    {
        SongList.Clear();
        var path = Path.Combine(Environment.ContentRootPath, "../Songs");
        var allfiles = Directory.GetFiles(path);
        foreach (var song in allfiles)
        {
            var songNameWithoutPath = song.Remove(0, path.Length + 1);
            var lastpositionName = 0;
            for (int i = 0; i < songNameWithoutPath.Length; i++)
            {
                if (songNameWithoutPath[i] == '.' && songNameWithoutPath[i + 1] == 'm')
                {
                    lastpositionName = i;
                }
            }
            var songNameWithoutExtension = new Song(songNameWithoutPath.Remove(lastpositionName), song);
            
            SongList.Add(songNameWithoutExtension);
        }
    }
}
