@page "/songs"
@using System
@using System.IO
@using System.Collections;
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Songs> Logger
@inject IWebHostEnvironment Environment

<head>
    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <tr>
                        <th class="bar1">
                        </th>
                    </tr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr class="bar2">
                                <th>
                                    <h1>
                                        <i class="material-icons">
                                            music_note
                                        </i>
                                        Songs List
                                    </h1>
                                </th>
                                <th>
                                    <div class="top-row searchColor">
                                        <div class="input-group">
                                            <input type="search" class="form-control rounded"
                                                placeholder="Search your favorite song..." aria-label="Search"
                                                aria-describedby="search-addon" />
                                            <button type="button" class="btn">
                                                <i class="material-icons differentColor">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <button class="reloadButton" @onclick="GetSongs">Reload List</button>
                            @foreach (var song in @SongList)
                            {
                                <tr>
                                    <th>@song.Name</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="rows">
                <p class="copyright-text">Copyright &copy; 2022</p>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

@code {
    private static List<Song> SongList = new();
    public void GetSongs()  
    {
        var DirectorySongs = Path.Combine(Environment.ContentRootPath, "wwwroot/Songs");
        Song.AddSongsToList(DirectorySongs, ref SongList);
    }
    protected override void OnInitialized()
    {
        GetSongs();
    }
}
