body {
    background-color: #35858B;
    /* margin-top: 50px; */
}

h1 {
    color: #fff;
}

th {
    color: #fff;
}

.btn {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #072227;
  color : #fff;
}

.btn:hover {
    background-color: #fff;
    color: #35858B;
}


.searchColor {
    background-color: #35858B;
    border-bottom: #35858B;
}

.form-control {
    background-color: #4FBDBA;
}

    .form-control:focus {
        background-color: #4FBDBA;
    }

    .form-control::placeholder {
        color: #AEFEFF;
    }

    .form-control:active {
        border-color: #4FBDBA;
    }

.bar1 {
    background-color: #35858B;
    border-color: #35858B;
    padding-top: 30px;
    padding-bottom: 50px;
}

.bar2 {
    background-color: #35858B;
    border-color: #35858B;
}

.table {
    --bs-table-striped-bg: rgba(0, 0, 0, 0.0);
}