@page "/songs"
@using System
@using System.IO
@using System.Collections;
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Songs> Logger
@inject IWebHostEnvironment Environment

<head>
    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Songs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Song</th>
                                <th>Song Name</th>
                                <th>Artist</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <button @onclick="GetSongs">Reload List</button>
                            @foreach (var song in @SongList)
                            {
                                <tr>
                                    <td>@song</td>
                                </tr>
                            }
                        </tbody>
                        @* <tbody>
                            @foreach (var album in Model.Albums)
                                <tr>
                                <td>@album.Title</td>
                                <td>@album.Artist</td>
                                <td>@album.Year</td>
                                @endforeach
                        </tbody> *@
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

@code {
    private static List<string> SongList = new();
    public void GetSongs()
    {
        SongList.Clear();
        var path = Path.Combine(Environment.ContentRootPath, "../Songs");
        var allfiles = Directory.GetFiles(path);
        foreach (var song in allfiles)
        {
           var songNameWithoutPath = song.Remove(0,path.Length + 1);
            var lastpositionName = 0;
            for(int i = 0; i < songNameWithoutPath.Length; i++)
            {
                if(songNameWithoutPath[i] == '.' && songNameWithoutPath[i+1] == 'm') 
                {
                    lastpositionName = i;
                }
            }
            var songNameWithoutExtension = songNameWithoutPath.Remove(lastpositionName);
            SongList.Add(songNameWithoutExtension);
        }
    }
}
